.slider {
  position: relative;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .3s ease;
}

.slide h1, .slide h2 {
  color: #fff;
  text-shadow: 2px 2px 1px #000;
}

.slide.active {
  opacity: 1;
  transition-duration: .2s;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: -1;
}

.left-arrow, 
.right-arrow {
  position: absolute;
  width: 0;
  height: 0;
  background: transparent;
  border-style: solid;
  z-index: 1;
}

.left-arrow:hover, 
.right-arrow:hover {
  cursor: pointer;
}

.left-arrow {
  top: 45%;
  left: 10%;
  border-width: 25px 40px 25px 0;
  border-color: transparent #ccd7e3 transparent transparent;
}

.right-arrow {
  top: 45%;
  right: 10%;
  border-width: 25px 0 25px 40px;
  border-color: transparent transparent transparent #ccd7e3;
}